<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400;1,700&display=swap');
</style>
*{
text-font: Roboto;
}

.encabezado-verNoticia{
text-align: center;
text-decoration: bold;
font-size: 200%;
color: white;
background-color: grey;
padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

button{
background-color: #1E90FF;
color: white;
}

.image-centered{
float: center;
}
.image-centered img{
width: 500px;}

p{
text-align: center;}